In [1]:
import geojson
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

pd.set_option("display.max_columns", None)

In [2]:
filepath = "../../data/countries.geojson"
with open(filepath) as f:
    gj = geojson.load(f)

In [3]:
df_all = pd.read_csv("../../data/country.csv")
df_all = df_all.groupby(['Country Availability']).count()
listofcountries = df_all.reset_index().values.tolist()

countries = {}

for country in listofcountries:
    countries[country[0]] = country[1]

In [4]:
i=0
for record in gj['features']:
    record['properties']['netflix_movie']=countries.get(record['properties']['name'],0)
    if countries.get(record['properties']['name'],0) > 0:
        # print(record['properties']['name'])
        i=i+1

i

30

In [7]:
df_all

                      movie_id
Country Availability
Argentina                 4525
Australia                 5049
Belgium                   4779
Brazil                    4423
Canada                    5183
Colombia                  4295
CzechRepublic             5367
France                    4547
Germany                   4821
Greece                    4632
HongKong                  4543
Hungary                   5195
Iceland                   4612
India                     5032
Israel                    4524
Italy                     4529
Japan                     5174
Lithuania                 4765
Malaysia                  4628
Mexico                    4531
Netherlands               4410
Poland                    4451
Portugal                  4085
Romania                   5023
Russia                    4716
Singapore                 5058
Slovakia                  5002
SouthAfrica               4803
SouthKorea                4281
Spain                     4371
Sweden                    4207
Switzerland               4801
Thailand                  5071
Turkey                    4227
UnitedKingdom             5465
UnitedStates              4928

In [6]:
filepath = "../../data/countries_to_use.geojson"

with open(filepath, 'w') as f:
   geojson.dump(gj, f)