In [3]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

In [2]:
# Create Engine for movie data
movie_database_path = "../../data/movie_data.sqlite"
engine = create_engine(f"sqlite:///{movie_database_path}")
conn = engine.connect()

movies = pd.read_csv("../../data/main.csv")

movies.to_sql("movie_data", conn)

ValueError: Table 'movie_data' already exists.

In [6]:
# Create Engine for language data
languages_database_path = "../../data/languages_data.sqlite"
engine = create_engine(f"sqlite:///{languages_database_path}")
conn = engine.connect()

movies = pd.read_csv("../../data/languages.csv")

movies.to_sql("languages_data", conn)

ValueError: Table 'languages_data' already exists.

In [7]:
# Create Engine for genre data
genre_database_path = "../../data/genre_data.sqlite"
engine = create_engine(f"sqlite:///{genre_database_path}")
conn = engine.connect()

movies = pd.read_csv("../../data/genre.csv")

movies.to_sql("genre_data", conn)

In [8]:
# Create Engine for country data
country_database_path = "../../data/country_data.sqlite"
engine = create_engine(f"sqlite:///{country_database_path}")
conn = engine.connect()

movies = pd.read_csv("../../data/country.csv")

movies.to_sql("country_data", conn)