In [4]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')
import scipy.stats as stats

import numpy as np
import pandas as pd

import datetime as dt

In [5]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, extract

In [13]:
engine = create_engine("sqlite:///sqlite_data/movie_data.sqlite")

In [14]:
inspector = inspect(engine)
inspector.get_table_names()

['country_data',
 'genre_data',
 'genre_list_data',
 'languages_data',
 'movie_data',
 'movies_data']

In [15]:
# Get a list of column names and types
columns = inspector.get_columns('country_data')
for c in columns:
    print(c['name'], c["type"])

index BIGINT
movie_id BIGINT
Country Availability TEXT

In [16]:
# reflect an existing database into a new model
# reflect the tables

Base = automap_base()
Base.prepare(engine, reflect=True)

In [26]:
# Save references to each table

Country = Base.classes.keys()
Country

[]

In [30]:
engine.execute('select*from genre_list_data').all()

[(0, 'Action'),
 (1, 'Adult'),
 (2, 'Adventure'),
 (3, 'Animation'),
 (4, 'Biography'),
 (5, 'Comedy'),
 (6, 'Crime'),
 (7, 'Documentary'),
 (8, 'Drama'),
 (9, 'Family'),
 (10, 'Fantasy'),
 (11, 'Film-Noir'),
 (12, 'Game-Show'),
 (13, 'History'),
 (14, 'Horror'),
 (15, 'Music'),
 (16, 'Musical'),
 (17, 'Mystery'),
 (18, 'News'),
 (19, 'Reality-TV'),
 (20, 'Romance'),
 (21, 'Sci-Fi'),
 (22, 'Short'),
 (23, 'Sport'),
 (24, 'Talk-Show'),
 (25, 'Thriller'),
 (26, 'War'),
 (27, 'Western')]

In [34]:
# sql_query = pd.read_sql_query('select*from genre_list_data',engine)

# df = pd.DataFrame(sql_query, columns = ['id','genre'])
# df
df = pd.read_sql('select*from genre_list_data',engine)
df

    index        Genre
0       0       Action
1       1        Adult
2       2    Adventure
3       3    Animation
4       4    Biography
5       5       Comedy
6       6        Crime
7       7  Documentary
8       8        Drama
9       9       Family
10     10      Fantasy
11     11    Film-Noir
12     12    Game-Show
13     13      History
14     14       Horror
15     15        Music
16     16      Musical
17     17      Mystery
18     18         News
19     19   Reality-TV
20     20      Romance
21     21       Sci-Fi
22     22        Short
23     23        Sport
24     24    Talk-Show
25     25     Thriller
26     26          War
27     27      Western